<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2SB - Entreprise BTP | Location & Construction | 2SB-SARL | Guinée construction </title>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <!-- <script>
        tailwind.config = {
            theme: {
                extend: {}
            }
        }
    </script>-->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/output.css" rel="stylesheet">
</head>